.menu ul{
    display: flex;
    background-color:#dc143c;
    list-style-type: none;
    margin: 0;
    padding: 20px 0px 20px 0px;

    /* padding: 13px 0px 13px 0px;
    margin-left: -8px; 
    background-color: #dc143c;
    position: absolute;
    top: 0px; 
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px; */
}

.menu .ins a{   
    font-family: 'Ubuntu', sans-serif;
     display: ruby-base;
     color: white ;
     text-align: center;
     padding: 14px;
     text-decoration: none;
     float:right;
}

.menu .link-image {
    display: flex;
    align-items: center;
}

.menu li.link {
    float: left; 
}

.menu .link a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.menu .link a:hover {
    background-color: #444;
}
