        /* 
            ESTRUTURA DO CORPO
            ELEMENTOS PRIMÁRIOS
        */

        h1 {
            color: #000000;
            font-family: 'Verdana', sans-serif;
            font-size: 50px;
        }
        body {
            background: white;
            font-family: 'Raleway', sans-serif;
        }

        hr {
            height: 2px;
            border-width: 0;
            color: #444;
            background-color: #444;
            width: 80%;
            text-align: left;
            margin-left: 0;
        }
         header {
            background: #fff;
            padding-top: 10px;
        }
       
        a{ 
            color: #000;
            text-decoration: none;
        }
        a:hover{
            color: blue;
            text-decoration: underline;
        }

        .menu{ /* Menu superior*/
            margin-left: -9px;
            margin-right: -9px;
            margin-top: -9px;
            border-top-width: 10px;
            border-top-style: solid;
            border-top-color: #3399ff;
            border-bottom-width: 10px; 
            border-bottom-style: solid;
            border-bottom-color: #3399ff;
        }

        .menu ul {
            font-family: 'Arial', sans-serif;
            list-style-type: none;
            margin: 0;
            padding: 1000;
            overflow: hidden;
            background-color: #444;
           
        }

        .menu li.link {
            float: left; 
        }

       .menu .ins a{
           
           font-size: 17px;
            display: block;
            color: white;
            text-align: center;
            padding: 14px;
            text-decoration: none;
            float:right;
       }
    
        .menu ul {
            font-family: 'Arial', sans-serif;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color:#3399ff;
        }

       

        .menu .link a {
            font-size: 17px;
            display: block;
            color: white;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }

        .menu .link a:hover {
            background-color: #444;
        }
        
      
        .corpo {
            width: 960px;
            margin: auto;
        }

        .conteudo {
            display: table;
        }

        .imagem {
            display: table-cell;
            float: right;
            margin-left: 90px;
        }

        .texto {
            display: table-cell;
            float: left;
            width: 300px;

        }

        .tabela {
            display: table-cell;
            float: right;
            margin-left: 90px;
            width: 400px;
            margin-top: -20px;

        }
            /* RODAPÉ*/
        .rodape {
            background-color: #3399ff;
            color: #fff;
            display: flex;
            justify-content: space-around;
            margin-left: -9px;
            margin-right: -9px;
            border-top-width: 10px;
            border-top-style: solid;
            border-top-color: #3399ff;
            border-bottom-width: 10px; 
            border-bottom-style: solid;
            border-bottom-color: #3399ff;
        }

        .rodape dl * {
            margin-bottom: 4px;
        }

        .rodape ul {
            list-style-type: none;
        }

        .rodape ul li a {
            text-decoration: none;
            color: #fff;

        }

        .rodape ul li a:hover {
            color: #444;
        }

        .rodape ul li {
            margin-bottom: 4px;
        }
        /* Para Login*/
        .box{
            
            text-align: center;
        }
        .box h1{
            color: black;
        }
        .box input[type = "text"],.box input[type = "password"]{
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #3399ff;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: black /* Para o o cursor de digitação */;
       
        transition: 0.5s;
        }
        .box input[type = "text"]:focus,.box input[type = "password"]:focus{
        width: 280px;
        }