.menu ul{
    display: flex;
    background-color:#dc143c;
    list-style-type: none;
    margin: 0;
    padding: 18px;
    font-size: 20px;
    align-items: center;
}

.menu .link a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.menu .lado a{   
    font-family: 'Ubuntu', sans-serif;
     display: ruby-base;
     color: white ;
     text-align: center;
     padding: 0 14px;
     text-decoration: none;
     float:right;
}

.menu .link-image {
    display: flex;
    align-items: center;
}

.menu .logo{
    width: 66%;
    display: flex;
    justify-content: center;
}

/*############### RODAPE ######################## */

.rodape {
    font-family: 'Arial', Helvetica, sans-serif;   
    background-color: #dc143c;
    color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 17px 0px;
    position: absolute;
}

#longpages{
    position: relative; 
}

.rodape ul li a {
    text-decoration: none;
    color: #fff;
}

.rodape a{
    font-family: 'Arial', Helvetica, sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.rodape a:hover{
    color: white;
}
.rodape p{
    text-align: center;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 10px;
}

.rodape div.items {
    display: flex;
    align-self: flex-end;
    justify-content: center;
}

.rodape div a {
    margin-right: 20px;
}